@model testing_migs_payment.Models.RecruitmentSubscriptionPaymentTransaction

@{
    ViewBag.Title = "HandleMigsResponse";
}

<h2>HandleMigsResponse</h2>

<div>@Model.AcqResponseCode                   </div>
<div>@Model.AcqResponseCode                   </div>
<div>@Model.Amount                            </div>
<div>@Model.Amount                            </div>
<div>@Model.AuthorizeId                       </div>
<div>@Model.AuthorizeId                       </div>
<div>@Model.BatchNumber                       </div>
<div>@Model.BatchNumber                       </div>
<div>@Model.Card                              </div>
<div>@Model.Card                              </div>
<div>@Model.Command                           </div>
<div>@Model.Command                           </div>
<div>@Model.Currency                          </div>
<div>@Model.Currency                          </div>
<div>@Model.CurrencyCode                      </div>
<div>@Model.CurrencyCode                      </div>
<div>@Model.EmployerId                        </div>
<div>@Model.EmployerId                        </div>
<div>@Model.IsPaid                            </div>
<div>@Model.IsPaid                            </div>
<div>@Model.Local                             </div>
<div>@Model.Local                             </div>
<div>@Model.MerchantId                        </div>
<div>@Model.MerchantId                        </div>
<div>@Model.MerchantTxnRef                    </div>
<div>@Model.MerchantTxnRef                    </div>
<div>@Model.Message                           </div>
<div>@Model.Message                           </div>
<div>@Model.OfflineMethod                     </div>
<div>@Model.OfflineMethod                     </div>
<div>@Model.OrderInfo                         </div>
<div>@Model.OrderInfo                         </div>
<div>@Model.PaymentTypeId                     </div>
<div>@Model.PaymentTypeId                     </div>
<div>@Model.ReceiptNumber                     </div>
<div>@Model.ReceiptNumber                     </div>
<div>@Model.SecureHashCode                    </div>
<div>@Model.SecureHashCode                    </div>
<div>@Model.ServiceId                         </div>
<div>@Model.ServiceId                         </div>
<div>@Model.SubscriptionId                    </div>
<div>@Model.SubscriptionId                    </div>
<div>@Model.TxnDate                           </div>
<div>@Model.TxnDate                           </div>
<div>@Model.TxnNumber                         </div>
<div>@Model.TxnNumber                         </div>
<div>@Model.TxnQuery                          </div>
<div>@Model.TxnQuery                          </div>
<div>@Model.TxnResponseCode                   </div>
<div>@Model.TxnResponseCode                   </div>
<div>@Model.TxnServiceDescription             </div>
<div>@Model.TxnServiceDescription             </div>
<div>@Model.TxnSuccessful                     </div>
<div>@Model.TxnSuccessful                     </div>
<div>@Model.UserEmail                         </div>
<div>@Model.UserEmail                         </div>
<div>@Model.UserId                            </div>
<div>@Model.UserId                            </div>
<div>@Model.UserIP                            </div>
<div>@Model.UserIP                            </div>
<div>@Model.Version                           </div>
<div>@Model.Version                           </div>
